.animate-Loop-scroll {
    animation: loop-scroll 20s linear infinite;
  }
  
  @keyframes loop-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .slick-track {
    display: flex;
    gap: 8px;
  }